<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>7bits-frontend-2018</title>
    <link rel="stylesheet"
     href = "../styles/style.css"> 
  </head>
  <body>
        <div class = "left_column"> 
            <div> 
                <img src = "../images/Erofeev.jpg">
            </div>
        </div>
        <div class = "right_column">
            <div class = "Object-01">
                <div class = "Title"> About me </div> 
            </div>
            <div class = "Lorem_ipsum"> 
                <p class = "About_you"> However, recently usability experts 
                    have questioned the value of dummy text, arguing that meaningless words are treated 
                    differently by our eyes than passages of real text, that our brains attempt to parse 
                    into words and phrases. Furthermore, designers themselves are increasingly questioning 
                    the value of text you can’t read when readability is one of the key aims of typographic 
                    design </p>
            </div>
        </div>
  </body>
</html>