<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>7bits-frontend-2018</title>
    <link rel="stylesheet"
     href = "../styles/style.css"> 
  </head>
  <body>
    <div class="post">
        <div class="post__img"></div>
        <img src="../images/formaIcon.png">
        <div class="post_main">
            <h2 class="post_main__category">Adventures</h2>
            <h1 class="post_main__title">awesome Gallery Post</h1>
            <h2 class="post_main__date">January 19, 2016</h2>
            <hr class="post_main__line">
            <a class="post_main__link" href="www.alo.com">Read More</a>  
            <hr class="post_main__line">
        </div>  
        <div class="post_footer">
            <img src="../images/commentIcon.png">
            <a class="post_footer__comment_link" href="www.comment.com">02 Comment</a>
        </div>
    </div>
  </body>
</html>