<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>7bits frontend courses workshop weeks 4-5</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<div class="main">
    <div class="button_skills">Skills</div>
    <ul class="skills">
        <li class="li_skill__name">
            <h2 class="skill__name">Communication</h2>
            <div class="progress p_communication"></div>
        </li>
        <li class="li_skill__name">
            <h2 class="skill__name">Creativity</h2>
            <div class="progress p_creativity"></div>
        </li>
        <li class="li_skill__name">
            <h2 class="skill__name">Teamwork</h2>
            <div class="progress p_teamwork"></div>
        </li>
        <li class="li_skill__name">
            <h2 class="skill__name">Organization</h2>
            <div class="progress p_organization"></div>
        </li>
        <li class="li_skill__name">
            <h2 class="skill__name">Teamplayer</h2>
            <div class="progress p_teamplayer"></div>
        </li>
    </ul>
</div>
</body>
</html>