.contentBox {
    display: inline-block;
    vertical-align: top;
    padding: 76px 0 0 84px;
    width: 650px;
    font-family: Arial, serif;
}
.contentSubheader {
    font-size: 14px;
    color: #b4ad9e;
}
.contentHeader {
    padding-top: 0px;
    font-size: 30px;
}
.contentText {
    padding-top: 10px;
    font-size: 14px;
    line-height: 24px;
}
.bottomImage {
    width: 661px;
    height: 497px;
}