body {
    background-color : #FFFFFF;
    margin: 0;
}

.post {
    width: 360px;
    height: 556px;
    box-shadow:0 0 20px rgba(0,0,0,0.5); 
    background-image: url(../images/postImg.png);
    background-size: auto 246px;
    background-repeat: no-repeat;
    position: absolute;
    top: 30px;
    left: 40%;
}

.post_head__icon {
    position: absolute;
    background-color: #262626;
    padding: 6px 7px;
    top: 229px;
    left: 160px;
}

.post_main *{
    margin: 0;
    text-align: center;
}

.post_main {
    position: relative;
    top: 310px;
}

.post_main__category, .post_main__date, .button__link, .post_footer__comment_link{
    font-family: Hind;
    color: #818181;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: lighter;
    height: auto;
}
.post_main__category {
    margin-bottom: 10px;
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat.ttf"); /* адрес файла со шрифтом */
}

.post_main__title {
    font-size: 20px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: bold;
    letter-spacing: 2px;
    color: #212121;
    margin-bottom: 9px;
}

.post_main__date {
    margin-bottom: 34px;
}

.button__link, .post_footer__comment_link{
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

.button__link:hover, .button__link:hover:before, .button__link:hover:after {
    color: #d67900;
}

.button__link:before {
    display: block;                  
    width:30px;                    
    content: '';                     
    position: absolute;            
    border-bottom: 1px solid;
    color: #d6d6d6;  
    top:120%;                         
    left: 33%;                   
}
 
.button__link:after {
    display: block;
    width:30px;
    content: '';
    position: absolute;
    border-bottom: 1px solid;
    color: #d6d6d6;
    top: -20%;
    left: 33%; 
}

.post_footer {
    position: absolute;
    bottom: 18px;
    left: 27px;
}

.comment_img {
    width: 15px;
    height: 14px;
    position: relative;
    bottom: -2px;
    margin-right: 7px;
}
