body {
    margin: 0;
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.header {
    margin: 0;
    height: 100%;
}

.page__header {
    padding-top: 170px;
    width: 80%;
    margin: auto;
}

.header__title {
    margin: 0;
    font-family: 'Dosis', sans-serif;
    font-weight: normal;
    margin-bottom: 45px;
    text-transform: uppercase;
    font-size: 5em;
    letter-spacing: 6px;
    color: #000000;
}

.header__text {
    margin: 0;
    margin-bottom: 150px;
    font-size: 1.4em;
    letter-spacing: 2px;
    color: #798285;
    font-family: "Open Sans";
}

.main {
    margin: 0;
    
    height: 100%;
}

.page__main {
    margin: auto;
    text-align: left;
    width: 80%;
}

.main__item {
    margin-bottom: 110px;
    width: 100%;
    height: 100%;
}

.item__disk-title {
    padding-top: 20px;
    vertical-align: top;
    width: 40%;
    margin-right: 2%;
    display: inline-block;
}

.disk-title__date {
    margin: 0;
    padding-bottom: 10px;
    font-size: 1.4em;
    color: #595959;
    font-weight: bold;
    border-bottom: 1px solid #000000;
}

.disk-title__name {
    margin: 0;
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 1.4em;
    color: #000000;
    font-weight: bold;
}

.item__disk-information {
    width: 57%; 
    display: inline-block;
}

.disk-information__name {
    margin: 0;
    margin-bottom: 10px;
    font-size: 2.3em;
    color: #000000;
    font-weight: normal;
}

.disk-information__text {
    margin: 0;
    margin-bottom: 25px;
    font-size: 1.4em;
    color: #acacac;
    line-height: 24px;
}

.item__button {
    cursor: pointer;
    padding: 2% 11%;
    text-transform: uppercase;
    font-size: 1.4em;
    color: #ffffff;
    font-weight: bold; 
    background-color: #000000;
    border: 1px solid #000000;
}

.page__footer {
    height: 787px;
    margin: -450px 10px 15px 10px;
    background: url("../images/page_background.jpg") bottom no-repeat;
     
}

@media screen and (max-width: 750px) {
    .page__content {
        padding: 170px 5% 0 5%;
        width: 90%;
    }
    
    .page__header {
        width: 80%;
        margin: auto;
    }
    
    .item__disk-title {
        padding-top: 0;
        display: inline;
    }

    .disk-title__name {
        margin-bottom: 45px;
    }
    
    .item__disk-information {
        display: inline;
    }

    
    .disk-information__button {
        padding: 3% 12%;
        margin-top: 20px;
        margin-left: calc(50% - 12%);
    }
    
    .page__footer {
        margin: -450px 15px 20px 15px;
        background-position-x: -600px;
        background-size: unset;
    }
}