# Build and package folders
###################
build
dist
packages
typings
.tmp
package-lock.json

# System folders
###################
.DS_Store
.idea

# Node & Bower & JSPM
###################
node_modules
bower_components
jspm_packages

# Test reporters
###################
**/test/coverage
report
