body {
    margin :0;
}

.header, .main {
    width: 1250px;
    margin: 0 auto;
}

.header {
    padding: 120px 0 100px 0;
    border-bottom: 1px solid #dfe0e0;
}

.header__title{
    font-family: Arial;
    font-size: 50px;
    font-weight: normal;
    text-transform: uppercase;
    color: #1a1a1a;
    margin: 0;
}

.header__subtitle{
    font-family: Arial;
    font-size: 27px;
    font-weight: normal;
    color: #1a1a1a;
    margin: 15px 0 0 0;
}

.contacts {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contacts__item {
    display: inline-block;
    margin-right: 10px;
    font-family: Arial;
    font-size: 17px;
}

.contacts__link {
    color : #9c9da0;
    text-decoration: none;
}

.header__contacts {
    margin-top: 30px;
}

.main {
    padding: 40px 0 510px 0;
    font-size: 0;
}

.main__left, .main__right {
    display: inline-block;
    vertical-align: top;
}

.main__left {
    width: 425px;
}

.main__right {
    box-sizing: border-box;
    width: 825px;
    padding-left: 35px;
}

.main__avatar {
    margin-bottom: 35px;
}

.personal-info__title, .personal-exp__title {
    display: inline-block;
    margin: 0; 
    background-color: #f2d629;
    font-family: Arial;
    font-size: 23px;
    font-weight: bold;
    color:#434244;
}

.personal-info__title {
    padding: 10px 35px;
}

.personal-exp__title {
    padding: 10px 40px;
}


.personal-info__content, .personal-exp__content {
    margin-top: 35px;
}

.personal-info__text {
    margin: 0;
    font-family: Arial;
    font-size: 18px;
    color:#434244;
}

.personal__text_bold {
    font-weight: bold;
}

.personal-exp__content {
    margin-bottom: 70px;
}

.personal-exp__date {
    margin: 0;
    margin-bottom: 30px;
    font-family: Arial;
    font-size: 19px;
    color: #8c8c8c;
    font-weight: lighter;
}

.personal-exp__position {
    margin: 0 0 10px;
    font-family: Arial;
    font-size: 19px;
    color: #1a1a1a;
}

.personal-exp__company {
    margin: 0;
    font-family: Arial;
    font-size: 19px;
    color: #1a1a1a;
    letter-spacing: 1px;
}

.personal-exp__description {
    margin: 30px 0 0;
    font-family: Arial;
    font-size: 17px;
    color: #9e9e9e;
    letter-spacing: 1px;
}

.footer{
    height: 45px;
    background-color: #f2d629;

}