<header>
    <img src="../images/logo.png" class="headerBox">
    <ul class="headerBox">
        <li id="lifestyle" class="headerItem">
            LIFESTYLE
        </li>
        <li id="photodiary" class="headerItem">
            PHOTODIARY
        </li>
        <li id="music"  class="headerItem">
            MUSIC
        </li>
        <li  class="headerItem">
            TRAVEL
        </li>
    </ul>
    <img src="../images/imgTop.png" class="mainImage">
</header>