.headerBox {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.headerItem {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color: #626262;
    font-family: "Arial", serif;
    text-align: center;
}

#lifestyle {
    padding-left: 318px;
    padding-right: 114px;
}

#photodiary {
    padding-right: 96px;
}

#music {
    padding-right: 89px;
}


.mainImage {
    padding-top: 40px;
    padding-left: 2px;
    width: 1062px;
    height: 541px;
}