<sidebar class="contentBox" id="sideBar">
        <img src="../images/imgRight.png">
        <h1 class="sidebarHeader">
            About me
        </h1>
        <p id="sidebarContainer">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            incididunt ut labore et dolore magna aliqua
        </p>
        <div class="contentSubheader" id="headerSideBar">
            TOP POSTS
        </div>
        <ul class="postHeader">
            <li>
                <div class="postHeader">
                    A day exploring the Alps
                </div>
                <div class="postComments" >
                    24 COMMENTS
                </div>
            </li>
            <li>
                <div class="postHeader">
                    American dream
                </div>
                <div class="postComments">
                    19 COMMENTS
                </div>
            </li>
            <li>
                <div class="postHeader">
                    Could winter days
                </div>
                <div class="postComments">
                    15 COMMENTS
                </div>
            </li>
        </ul>
</sidebar>